.delete, .divisionOperation, .multipleOperation, .subtractOperation, .addOperation, .equalOperation {
    color: var(--white);
} 

.divisionOperation, .multipleOperation, .subtractOperation, .addOperation {
    background-color: var(--orange-500);
}

.equalOperation {
    background-color: var(--blue-500);
}

.delete {
    background-color: var(--red-500);
}