.delete, .division, .multiple, .subtract, .add, .equal {
    color: var(--white);
} 

.division, .multiple, .subtract, .add {
    background-color: var(--orange-500);
}

.equal {
    background-color: var(--blue-500);
}

.delete {
    background-color: var(--red-500);
}